.homebody{
    background-color: rgb(52, 58, 64);
}

.button{
    padding: 20px;
}

#textBelow{
    font-weight: bold;
}

.navbar{
    background-color: black;
}

.navbar .navbar-nav li a{
    color: rgba(175, 113, 113, 1) !important;
}

.col-sm-8 {
    text-align: center;
    margin-top: 200px;

}

a:link{
    text-decoration: lightgray;
}

a:hover {
    text-decoration: lightgray;
  }

.formText{
    margin-top: 200px;
    color: white;
    font-weight: bold;   
}


.formBox{
    border: solid white;
    margin: 10px;
}

.backforms{
    width: 800px;
    color: white;
    font-weight: bold;  
}

